@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Gloria+Hallelujah&family=Roboto:wght@400;500&display=swap');
:root {
  --bg: #131116;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg);
  color: #fff;
}
h1,h2,h3,h4,h5{
  font-family: 'Caesar Dressing', cursive;
  letter-spacing: .15rem;
}

.container {
  max-width: 1200px;
  padding: 0 .2rem;
  margin: 0 auto;
}